<section id="intro">
	<div class="">
		<div class="owl-carousel owl-theme carousel-1">
			<div class="item position-relative">
				<div class="car-image" style="background-image: url(/assets/images/carousel/clubsuizo-acceso-principal2.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Reuniones</p>
					<h1>Comparte experiencias</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/fondue.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Restauración</p>
					<h1>¡Despierta tus sentidos!</h1>
				</div>
			</div>

			<div class="item">
				<div class="car-image" style="background-image: url(/assets/images/carousel/clubsuizo-piscina.jpg)"></div>
				<div class="text-container position-absolute">
					<p>Instalaciones</p>
					<h1>Disfruta en familia</h1>
				</div>
			</div>
		</div>
	</div>
</section>
