<section id="latest-posts">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title text-center rev">Swiss inf</h3>
			</div>
		</div>
		<div class="row">
			
			<div class="col-md-4">
				<iframe id="partner" src=https://www.swissinfo.ch/rss/iframe/carousel.html?language=es&items=10&feed=club-suizo-madrid&referral=ClubSuizoMadrid&moreLink=Front frameborder=0" style="width: 100%; min-width: 100% !important; border: none;" height="600"></iframe>
			</div>
			
		</div>
	</div>
</section>
